<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotoMove.PhotoMoveSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PhotoMove.PhotoMoveSettings>
            <setting name="DestinationFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DuplicatesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedOutputFolderStructure" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="selectedCopyMoveExistedFiles" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilesWithNoExifDateCreatedFolder" serializeAs="String">
                <value />
            </setting>
        </PhotoMove.PhotoMoveSettings>
    </userSettings>
</configuration>